.dsb-portal-descrpition__partner-data {
  float: right;
  position: relative;
  margin-top: -3em;
}
.dsb-portal-descrpition__partner-data img {
  max-height: 1.5em;
}
.dsb-portal-description__information {
  overflow: hidden;
}
.dsb-portal-description__information__preview-image {
  float: left;
  width: 150px;
  margin: 0 1em 1em 0;
}
.dsb-portal-description__information__preview-image img {
  max-width: 100%;
}
.dsb-portal-description__information__preview-image__copyright {
  font-size: .75em;
  font-style: italic;
}
.dsb-portal-description__data__misc-information table td:first-child,
.dsb-portal-description__data__edu-information table td:first-child,
.dsb-portal-description__data__context-information table td:first-child,
.dsb-portal-description__data__resource-information table td:first-child,
.dsb-portal-description__data__relationship-information table td:first-child {
  width: 30%;
}
.dsb-portal-per-entry__identifier {
  font-weight: bold;
}
.dsb-portal-per-entry__info__subject {
  font-weight: bold;
}