/* Search form */
.dsb-portal-search-form .form-text {
  max-width: 100%;
}
.dsb-portal-search-form__active-filters__group {
  margin: .25em 0;
}
.dsb-portal-search-form__active-filters__group__label {
  font-weight: bold;
  font-style: italic;
}
.dsb-portal-search-form__active-filters__group__item {
  font-size: 0.9em;
  margin-left: 1em;
  overflow: hidden;
}
body input.dsb-portal-search-form__active-filters__group__item__button {
  float: right;
  font-size: 0.75em;
  background: transparent;
}
/* Search results */
.dsb-portal-search-result {
  overflow: hidden;
  margin: 1em 0;
}
.dsb-portal-search-result__partner-data a {
  float: right;
}
.dsb-portal-search-result__partner-data img {
  max-height: 20px;
}
.dsb-portal-search-result__description {
  overflow: hidden;
}
.dsb-portal-search-result__preview-image {
  float: left;
  width: 150px;
  margin: 0 1em 1em 0;
}
.dsb-portal-search-result__preview-image img {
  max-width: 100%;
}
.dsb-portal-search-result__description__title {
  font-size: 2em;
  margin-top: 0;
}