.dsb-portal-per-entry {
  margin-top: 1em;
  margin-bottom: 1em;
}
.dsb-portal-per-entry + .dsb-portal-per-entry {
  padding-top: 1em;
  border-top: 1px solid #ccc;
}
.dsb-portal-per-entry__parents__element::after {
  content: ',';
}
.dsb-portal-per-entry__parents__element:last-child::after {
  content: '';
}
.dsb-portal-per-entry__parents__element a {
  color: inherit;
}
.dsb-portal-per-entry__parents__element--disciplines {
  font-weight: bold;
}
.dsb-portal-per-entry__info__label {
  font-weight: bold;
  font-size: 1.3em;
}
.dsb-portal-per-entry__info__label a {
  color: inherit;
}
body ul.dsb-portal-per-entry__info__progressions {
  border: 1px solid #ccc;
  padding: 1em 1em 1em 2em;
  margin-left: 0;
  list-style-type: square;
}
ul.dsb-portal-per-entry__info__progressions a {
  color: inherit;
}