.dsb-portal-lp21-entry {
  margin-top: 1em;
  margin-bottom: 1em;
}
.dsb-portal-lp21-entry + .dsb-portal-lp21-entry {
  padding-top: 1em;
  border-top: 1px solid #ccc;
}
.dsb-portal-lp21-entry a {
  color: inherit;
}
.dsb-portal-lp21-entry__parents__element::after {
  content: ',';
}
.dsb-portal-lp21-entry__parents__element:last-child::after {
  content: '';
}
.dsb-portal-lp21-entry__parents__element--kompetenzbereich,
.dsb-portal-lp21-entry__parents__element--handlungsaspekt,
.dsb-portal-lp21-entry__parents__element--handlungs-themenaspekt {
  font-weight: bold;
}
.dsb-portal-lp21-entry__parents__element--handlungsaspekt,
.dsb-portal-lp21-entry__parents__element--handlungs-themenaspekt {
  color: #CD202C;
}
.dsb-portal-lp21-entry__info__label {
  font-size: 1.3em;
}
body ul.dsb-portal-lp21-entry__info__kompetenztufe {
  border: 1px solid #ccc;
  padding: 1em 1em 1em 2em;
  margin-left: 0;
  list-style: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAlUlEQVQImT2NMQrCQBBFfx0JuwOryZ/cRCs9jd5DK8Fz2CsIniFNMDPn0MJCLNYiJr/78HgPHnk3YQ8AHnly0SfGtUWii2YL3AOARX496mUCLFQbrzQ/ysWyLRItNdkCtxPgUTsTvgHARM8umgEAfazXlprcl7qy2bx20exS7zAeCzwMTf246HXoCW8mtL/u6MLXmPoBKb83s1yGpFUAAAAASUVORK5CYII=);
}